* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 14px;
}

body {
  min-width: 500px;
  margin: auto;
  background-color: #f3f7f8;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: 50px;
  padding: 1.8rem;
  background-color: #1F361F
;
  color: #FFFFFF;
}

.navLogo {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1.5rem;
  font-family: trilby, serif;
  font-weight: 900;
  font-style: normal;
}

footer p {
  font-size: 0.9rem;
  font-style: italic;
}

h2{
padding-left: 1rem;
padding-top: 0.5rem;
text-decoration: underline;
font-weight: 700;
font-size: 1.8rem;
}

img {
width: 100%;
height: auto;
}

.insect {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(250px, auto);
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
}

.hint {
  padding-left: 10px;
  padding-top: 10px;
  width: 20px;
}

.info {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.3px;
  position: relative;
  bottom: 5px;
}

.summary{
  font-size: 0.8rem;
  padding: 0.8rem;
}

.cockroach{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #F5D5D5;
}

.butterfly{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #E2F5D5
}

.wasp{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #F5F2D5;
}

.spider{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #D5E0F5;
}

.locust{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #FAE9CD;

}

.pray-mantis{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  background-color:#E0D5F5;
}
