* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 14px;
}

body {
  min-width: 500px;
  margin: auto;
  background-color: #f3f7f8;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: 50px;
  padding: 15px 0 30px 0;
  background-color: #025159;
  color: #FFFFFF;
}

.navLogo {
  font-size: 2.9rem;
  font-weight: 700;
  padding: 10px;
  font-family: trilby, serif;
  font-weight: 900;
  font-style: normal;
}

footer p {
  font-size: .8rem;
}

h2{
text-align: center;
padding-top: 0.5rem;
}

img {
width: 100%;
height: auto;
}

.insect {
  display: grid;
   grid-template-columns: repeat(2, 250px);
  grid-auto-rows: 450px;
  gap: 15px 20px;
  margin: 44px 0;
  justify-content: center;
}

.hint {
  padding-left: 10px;
  padding-top: 10px;
  width: 20px;
}

.info {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.3px;
  position: relative;
  bottom: 5px;
}

.summary{
  font-size: 0.7rem;
  padding: 0.8rem;
}

.cockroach{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.butterfly{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.wasp{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.spider{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.locust{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.pray-mantis{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}
